/*
OrbitDiagram.css
wgbh-orbit-diagram
astro.unl.edu
2019-07-02
*/


.wgbh-orbit-diagram-root {
	background-color: black;
	position: absolute;
	top: 270px; /* TODO */
	left: 0;
	width: 100%;
	height: 500px;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	padding: 0;
	margin: 0;

	overflow: hidden;

	box-sizing: border-box;
	
	border: 0;
}


.wgbh-orbit-diagram-svg {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	width: 100%;
	height: 100%;
}

.wgbh-orbit-diagram-element-focusarea:focus {
	outline: none;
	border: none;
}

.wgbh-orbit-diagram-element-focusarea::-moz-focus-inner {
	border: none;
}
